# استبعاد قاعدة بيانات المستخدمين وكلمات المرور
users_database.db
*.db

# استبعاد ملف البيئة والمفاتيح
.env
# استبعاد البيئات الافتراضية والملفات المؤقتة
venv/
.venv/
__pycache__/
*.log
*.tmp

# استبعاد ملفات النظام والملفات المؤقتة لـ Windows
AppData/
.config/